<div class="c-accordion">
    <dl>
        <dt>
            <a href="#bundesliga_1" aria-expanded="false" aria-controls="bundesliga_1" class="c-accordion__title accordionTitle js-accordionTrigger">
                1. Bundesliga
            </a>
        </dt>
        <dd class="accordion-content accordionItem c-accordion__item is-collapsed" id="bundesliga_1" aria-hidden="true"></dd>
        <dt>
            <a href="#bundesliga_2" aria-expanded="false" aria-controls="bundesliga_2" class="c-accordion__title accordionTitle js-accordionTrigger">
                2. Bundesliga
            </a>
        </dt>
        <dd class="accordion-content accordionItem c-accordion__item is-collapsed" id="bundesliga_2" aria-hidden="true"></dd>
        <dt>
            <a href="#liga_3" aria-expanded="false" aria-controls="liga_3" class="c-accordion__title accordionTitle js-accordionTrigger">
                3. Liga
            </a>
        </dt>
        <dd class="accordion-content accordionItem c-accordion__item is-collapsed" id="liga_3" aria-hidden="true"></dd>
    </dl>
</div>

<script>
    //fill accordions
    (function(){
        var request = new XMLHttpRequest();
        request.open('GET', '/clubs.json', true);

        request.onload = function() {
            if (request.status >= 200 && request.status < 400) {
                var clubInformation = request.responseText
                fillAccordion(JSON.parse(clubInformation));
            } else {
                document.querySelector('.c-accordion').innerHTML = 'Leider ist etwas schiefgelaufen, versuche es erneut.';
            }
        };

        request.onerror = function() {
            document.querySelector('.c-accordion').innerHTML = 'Leider ist etwas schiefgelaufen, versuche es erneut.';
        };

        request.send();

        fillAccordion = function(clubInformation){
            for (var i=0; i<Object.keys(clubInformation).length; i++) {
                for (var j=0; j<Object.keys(clubInformation[i].clubs).length; j++) {
                    parent = document.querySelector(clubInformation[i].element),
                    name = clubInformation[i].clubs[j].name,
                    shortname = clubInformation[i].clubs[j].shortname,
                    js_handle = clubInformation[i].clubs[j].js_handle,
                    ticket_exchanges_online = clubInformation[i].clubs[j].ticket_exchanges_online,
                    ticket_exchange_places = clubInformation[i].clubs[j].ticket_exchange_places,
                    ticket_exchanges_online_html = '',
                    ticket_exchange_places_html = '';


                    for(var k=0, len=Object.keys(ticket_exchanges_online).length; k<len; k++) {
                        ticket_exchanges_online_html+= '<li><a href="'+ticket_exchanges_online[k].link+'" target="_blank">'+ticket_exchanges_online[k].name+'</a></li>'
                    }

                    for(var k=0, len=Object.keys(ticket_exchange_places).length; k<len; k++) {
                        ticket_exchange_places_html+= '<li><a href="'+ticket_exchange_places[k].link+'" target="_blank">'+ticket_exchange_places[k].name+'</a></li>'
                    }

                    var element = document.createElement("dl");
                    element.innerHTML = `<dt>
                                            <a href="#`+shortname+`" aria-expanded="false" aria-controls="`+shortname+`" class="c-accordion__title accordionTitle js-accordionTrigger">
                                                `+name+`
                                            </a>
                                        </dt>
                                        <dd class="accordion-content accordionItem c-accordion__item is-collapsed" id="`+shortname+`" aria-hidden="true">
                                            <div class="[ o-layout ]  [ u-margin-bottom ]">
                                                <div class="[ o-layout__item ]  [ u-1/1  u-1/2@tablet  u-1/1@desktop ]">
                                                    <h5>Ticketboersen:</h5>
                                                    <ul class="[ o-list-bare ]">
                                                        `+ticket_exchanges_online_html+`
                                                    </ul>
                                                </div>
                                                <div class="[ o-layout__item ]  [ u-1/1  u-1/2@tablet  u-1/1@desktop ]">
                                                    <h5>Treffpunkte</h5>
                                                    <ul class="[ o-list-bare ]">
                                                        `+ticket_exchange_places_html+`
                                                    </ul>
                                                </div>
                                            </div>
                                        </dd>`;

                    parent.appendChild(element); 

                }
            }

            activateAccordion();
        };
    })();

    //make accordions work
    activateAccordion = function(){
        var d = document,
        accordionToggles = d.querySelectorAll('.js-accordionTrigger'),
        setAria,
        setAccordionAria,
        switchAccordion,
        touchSupported = ('ontouchstart' in window),
        pointerSupported = ('pointerdown' in window),
        
        skipClickDelay = function(e){
            e.preventDefault();
            e.target.click();
        }

        setAriaAttr = function(el, ariaType, newProperty){
                el.setAttribute(ariaType, newProperty);
            };
            setAccordionAria = function(el1, el2, expanded){
                switch(expanded) {
            case "true":
                setAriaAttr(el1, 'aria-expanded', 'true');
                setAriaAttr(el2, 'aria-hidden', 'false');
                break;
            case "false":
                setAriaAttr(el1, 'aria-expanded', 'false');
                setAriaAttr(el2, 'aria-hidden', 'true');
                break;
            default:
                        break;
                }
            };
            
        switchAccordion = function(e) {
            e.preventDefault();
            var thisAnswer = e.target.parentNode.nextElementSibling;
            var thisQuestion = e.target;
            if(thisAnswer.classList.contains('is-collapsed')) {
                setAccordionAria(thisQuestion, thisAnswer, 'true');
            } else {
                setAccordionAria(thisQuestion, thisAnswer, 'false');
            }
            thisQuestion.classList.toggle('is-collapsed');
            thisQuestion.classList.toggle('is-expanded');
                thisAnswer.classList.toggle('is-collapsed');
                thisAnswer.classList.toggle('is-expanded');
            
            thisAnswer.classList.toggle('animateIn');
        };

        for (var i=0,len=accordionToggles.length; i<len; i++) {
            if(touchSupported) {
                accordionToggles[i].addEventListener('touchstart', skipClickDelay, false);
            }
            
            if(pointerSupported){
                accordionToggles[i].addEventListener('pointerdown', skipClickDelay, false);
            }
            
            accordionToggles[i].addEventListener('click', switchAccordion, false);
        }

        

    };

    {{!-- 
        <dl>
            <dt>
                <a href="#werderbremen" aria-expanded="false" aria-controls="werderbremen" class="c-accordion__title accordionTitle js-accordionTrigger">
                    Werder Bremen
                </a>
            </dt>
            <dd class="accordion-content accordionItem c-accordion__item is-collapsed" id="werderbremen" aria-hidden="true">
                <h5>Ticketboersen:</h5>
                <ul class="[ u-margin-bottom ]">
                    <li><a href="http://www.worum.org/forums/68-Ticketing" target="_blank">worum.org</a></li>
                </ul>
                <h5>Treffpunkte</h5>
                <ul>
                    <li><a href="https://goo.gl/maps/romzzdZNfa12">Taubenschlag</a></li>
                </ul>
            </dd>
        </dl> 
    --}}
</script>