<div class="u-bg-brand u-margin-top u-padding-vertical u-align-center">
    <div class="o-wrapper">
        <ul class="o-list-inline  u-margin-bottom-none u-text-default">
            <li class="o-list-inline__item"><a href="https://twitter.com/hylf_de" target="_blank">@hylf_de</a> //</li>
            <li class="o-list-inline__item"><a href="/contact" target="_blank">Kontakt</a></li>
        </ul>
    </div>
</div>