<div class="u-bg-brand u-margin-top u-padding-vertical">
    <div class="o-wrapper">
        <ul class="o-list-inline  u-margin-bottom-none">
            <li class="o-list-inline__item"><a href="https://twitter.com/hylf_de" target="_blank">@hylf_de</a></li>
            <li class="o-list-inline__item"><a href="/contact" target="_blank">contact</a></li>
        </ul>
    </div>
</div>