<div class="o-wrapper  u-margin-top">
    <div class="o-layout">
        <div class="o-layout__item u-1/1 u-2/3@desktop">
            <h1 class="[ u-margin-bottom-tiny ]">
                hylf <small>[ˈhɪlf]</small> -  Help your local fans!
            </h1>
            <p>
                Moin Fußballfans,<br>
                Die Bundesliga geht bald wieder los. Der Vorverkauf steht auch unmittelbar bevor. Tausende Menschen werden dann wieder an den Wochenenden in die Stadien pilgern, 
                um ihre Lieblingsmannschaft anzufeuern. Aber: Tausende werden leider auch in dieser Saison wieder draußen bleiben müssen. Dabei gibt es häufig noch jede Menge Tickets. 
                Allerdings auf dubiosen Seiten und zu völlig überhöhten Preisen, angeboten von einer gut organisierten Ticketmafia, gegen die man nicht ankommt. Wer schon einmal versucht hat, 
                illegale Tickethändler anzuschwärzen, weiß, wovon wir reden.
            </p>
            <h2 class="[ u-margin-bottom-tiny ]">
                Was Ihr tun könnt? Help your local fans!
            </h2>
            <p>
                Uns reicht es! Wir möchten handeln und bitten alle ehrlichen Fans dabei mitzumachen. 
                Die Idee hinter hylf ist simpel: <b>Kauft so viele Tickets, wie es nur geht!</b>
                Und bietet sie dann auf legalen Fanbörsen an. <b>Zum Normalpreis!</b> Seid schneller als die Ticketmafia und helft Euch gegenseitig. 
                Je mehr Tickets von echten Fans gekauft werden, desto weniger gelangen an Menschen, die nur aus Profitgier Tickets kaufen. 
                Wir können so ihren Einfluss ein Stückweit mindern und dafür sorgen, dass es sich möglichst viele Fans leisten können, ihre Lieblingsmannschaft im Stadion zu sehen.
            </p>
            <p>
                Und vertraut uns: Ihr werdet die Tickets los. Wir machen das seit Jahren und konnten so schon viele Fans glücklich machen.
            </p>
            <h2 class="[ u-margin-bottom-tiny ]">
                Was wir tun werden
            </h2>
            <p>
                Auf dieser Seite findet Ihr in Zukunft regelmäßig alle aktuellen Börsen und Treffpunkte für <b>jeden</b> Bundesliga-Verein. 
                Aber: Wir kennen uns nur mit Werder Bremen aus. Darum brauchen wir <b>eure Hilfe</b>! 
                Schickt <a href="mailto:nick@hylf.de" style="font-weight:bold;">uns</a> bitte die Seiten und die Treffpunkte für eure Vereine – damit wir eine deutschlandweite Übersicht haben und gemeinsam dem Schwarzmarkt den Kampf ansagen können.
            </p>
            <p>
                Danke! <br>
                Eure Hatice &amp; euer Nick
            </p>
        </div>
        <div class="o-layout__item u-1/1 u-1/3@desktop">
            {{> @accordion }}
        </div>
    </div>
</div>