
.c-accordion {
    position:relative;
    background-color:#eee;
}

    .c-accordion__title {
        background-color: darken($color-base, 10%); 
        text-align:center;
        font-weight:700; 
        padding:2em;
        display:block;
        text-decoration:none;
        color:#fff;
        transition: background-color 0.5s ease-in-out;
        border-bottom: 1px solid lighten($color-base, 10%);

        &:before {
            content: "+";
            font-size:1.5em;
            line-height:1em;
            float:left; 
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            background-color: darken($color-base, 10%);
            color: $color-default;
            border-bottom: 1px solid lighten($color-base, 10%);
        }

        
    }

    .c-accordion__title.is-expanded {
        background-color: darken($color-base, 10%);

        &:before {
            transform:rotate(-135deg);
        }
    }

    .c-accordion__item {
        height:auto;
        overflow:hidden; 
        max-height:100em;
        transition:max-height 1s;   
    
        
        @media screen and (min-width:48em) {
            transition:max-height 0.5s
            
        }

        ul {
            margin: 0;
        }
        
        & h5 {
            margin-bottom: 0;
            &:first-child {
                padding-top: 6px;
            }
        }

        & ul:last-child {
            padding-bottom: 6px;
        }
    
    }
    
    .c-accordion__item.is-collapsed {
        max-height:0;
    }

    .no-js .c-accordion__item.is-collapsed {
        max-height: auto;
    }

    .animateIn {
        animation: accordionIn 0.5s normal ease-in-out both 1; 
    }
        
    .animateOut {
        animation: accordionOut 0.5s alternate ease-in-out both 1;
    }

    @keyframes accordionIn {
    0% {
        opacity: 0;
        transform:scale(0.9) rotateX(-60deg);
        transform-origin: 50% 0;
    }
    100% {
        opacity:1;
        transform:scale(1);
    }
    }

    @keyframes accordionOut {
        0% {
        opacity: 1;
        transform:scale(1);
        }
        100% {
            opacity:0;
            transform:scale(0.9) rotateX(-60deg);
        }
    }