/*------------------------------------*\
    #TEXT-INPUT
\*------------------------------------*/

.c-text-input {
    padding-top: $inuit-global-spacing-unit-small;
    padding-bottom: $inuit-global-spacing-unit-small;
    vertical-align: middle;
}
